CYCLES_MOY 1
NB_EXPERIENCES 100

# Nombre de simulations consecutives
simulation.experiments CYCLES_MOY*NB_EXPERIENCES

# Date de fin de la simulation: 12 mois
simulation.endtime 365 

# Taille du reseau
network.size 10000

# Activation du mode "avec vaccination"
mode_vacc true

# ::::: LAYERS :::::

# Definition de la couche transport
protocol.transport fr.upmc.sar.psia.tme2.GrippeTransport

#latence minimale
protocol.transport.mindelayIncubation 2

#latence maximale
protocol.transport.maxdelayIncubation 7

#latence minimale
protocol.transport.mindelayGuerison 8

#latence maximale
protocol.transport.maxdelayGuerison 20

# Definition de la couche applicative
protocol.applicative fr.upmc.sar.psia.tme2.Grippe

# Liaison entre la couche applicative et la couche transport
protocol.applicative.transport transport

#pour que la couche applicative connaisse son pid
protocol.applicative.myself applicative

# ::::: INITIALIZER :::::

#declaration d'un module d'initialisation
init.initializer fr.upmc.sar.psia.tme2.Initializer

#pour que le module connaisse le pid de la couche applicative
init.initializer.helloWorldProtocolPid applicative

#declaration d'un module de controle
control.monmodule fr.upmc.sar.psia.tme2.ControllerVaccination

#pour que le module connaisse le pid de la couche applicative
control.monmodule.step 2
